<div class="column is-half is-offset-one-quarter">
  <% @posts.each do | post |%>
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <% if user_signed_in? %>
              <p><%= post.user.username %></p>
            <% else %>
              <p>Anon</p>
            <% end %>
            <p>
              <strong><%= post.title %>: </strong>
              <%= post.body %>
            </p>
          </div>
        </div>
      </article>
    </div>
  <% end %>
</div>
              
            
            